/* Menu */
#navbar {
    background: #111;
    height: 180px;
    position: static;
}

#navbar-container {
    flex-direction: row;
    padding: 20px 0;
}

#navbar-items {
    flex-direction: column;
    text-align: center;
    width: 100%;
}

#navbar-items li:nth-child(2) {
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
}

/* Apresentação */
#showcase-container {
    padding: 40px;
}

/* Clientes */
#clients-container {
    grid-template-columns: repeat(2, 1fr);
}

.client {
    width: 50%;
}

/* Serviços */
#features-container {
    grid-template-columns: 1fr;
}

#features-container .feature:nth-child(2) {
    margin: 15px 0;
}

/* Produtos */
#product-container {
    flex-direction: column;
}

#items {
    width: 90%;
}

.item {
    flex-direction: column;
    align-items: center;
    text-align: center;
}

/* Sobre nós */
.testimonial {
    flex-direction: column;
    text-align: center;
}

/* Galeria */

#gallery-container {
    grid-template-columns: 1fr;
}

.gallery-image {
    height: 100%;
    width: 100%;
}

/* botão redirect para topo da pagina */
#redirect{
    display:none;
    position: fixed;
    bottom: 18px;
    right: 20px;
    height: 50px;
    width: 50px;
    background: #ddd;
    border: none;
    border-radius: 100%;
}

#redirect img{
    width: 25px;
}

/* Contato WhatsApp */
.whats-botao{
    width: 54px;
}

#whats{
    position: fixed;
    bottom: 50px;
    right: 50px;
    height: 94px;
    width: 25px;
}